body{
  background: #0e0b16;
}
table{
  width: 95%;
}
td{
  padding: 1%;
}
tr:nth-child(even){
  background:#D3D3D3;
}
img{
  width:200px;
  height:auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
h4{
  text-align: center;
}
h2{
  text-align: center;
  text-transform: uppercase;
}
a{
  text-decoration: none;

}
.myclass{
  text-align: center;
}
.img-cir{
  width:40px;
  height:auto;
  border-radius: 50%;
  display:inline;
}
.img-circle
{
  border-radius: 50%;
  border:2px solid #000000;
}
.flex-parent{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.profile{
  width:30%;
  background:#e7dfdd;
  height:40%;
  border-radius: 20px;
  padding:2%;
  margin:1%;
  border:2px solid #000;
  box-shadow: 3px 3px 3px #3f3250;
}
.content{
  width:70%;
  background:#F4DECB;
  padding:3%;
  margin:1%;
  border-radius: 20px;
  border:2px solid #000;
  box-shadow: 4px 4px 4px #fff;
}
@media only screen and (min-width:320px) and (max-width:480px)
{
 .flex-parent{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.profile{
  width:91%;
  background:#fff;
  padding:2%;
  margin:1%;
  border:2px solid #000;
}
.content{
  width:85%;
  background:#fff;
  padding:2%;
  margin:1%;
  border:2px solid #000;
}
}
@media only screen and (min-width:481px) and (max-width:768px)
{
 .flex-parent{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.profile{
  width:30%;
  background:#fff;
  padding:2%;
  margin:1%;
  border:2px solid #000;
}
.content{
  width:70%;
  background:#96858f;
  padding:3%;
  margin:1%;
  border:2px solid #000;
}
}
@media only screen and (min-width:769px) and (max-width:1024px)
{
 .flex-parent{
  display:flex;
  flex-direction:column;
  justify-content: center;
}
.profile{
  width:94%;
  background:#fff;
  padding:2%;
  margin:1%;
  border:2px solid #000;
}
.content{
  width:92%;
  background:#fff;
  font-size: 30px;
  padding:3%;
  margin:1%;
  border:2px solid #000;
}
}
/*
@media only screen and (min-width:320px) and (max-width:480px)
{
 .flex-parent{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.profile{
  width:95%;
  background:#fff;
  padding:2%;
  margin:1%;
  border:2px solid #000;
}
.content{
  width:95%;
  background:#fff;
  padding:2%;
  margin:1%;
  border:2px solid #000;
}
}
*/
